In [1]:
#bring in all the libraries we need to be able to connect to the database so we can export the data to SQL
from sqlalchemy import create_engine
from config import username
from config import password
from config import database
import pandas as pd

#create engine to talk to the database
engine = create_engine(f"postgresql://{username}:{password}@localhost:5432/{database}")
conn=engine.connect()

In [2]:
file_to_load = "report.csv"

In [3]:
#show what data we have to work with, we need to skip the first header line as this has no data of value
enviro_data = pd.read_csv(file_to_load,skiprows=1)
enviro_data.head()

,Taxon ID,Scientific Name,Common Name,EPBC Threat Status,EPBC Threatened Species Listed Name,EPBC Threatened Species Date Effective,EPBC Act Migratory,Bonn,Listed Name Bonn,CAMBA,...,Western Australia,Ashmore and Cartier Islands,Cocos (Keeling) Islands,Christmas Island,Coral Sea Islands,Jervis Bay Territory,Norfolk Island,Heard and McDonald Islands,Australian Antarctic Territory,Commonwealth Marine Area
0,66785,Abebaioscia troglodytes,Pannikin Plains Cave Isopod,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Present,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,18340,Abrotanella nivigena,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,81927,Abudefduf bengalensis,Bengal sergeant,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,81928,Abudefduf sexfasciatus,Scissor-tail sergeant,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,81929,Abudefduf sordidus,Blackspot sergeant,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
#drop any fields with no data
dropnan = enviro_data.dropna(axis=1, how="all")
dropnan

,Taxon ID,Scientific Name,Common Name,EPBC Threat Status,EPBC Threatened Species Listed Name,EPBC Threatened Species Date Effective,EPBC Act Migratory,Bonn,Listed Name Bonn,CAMBA,...,Western Australia,Ashmore and Cartier Islands,Cocos (Keeling) Islands,Christmas Island,Coral Sea Islands,Jervis Bay Territory,Norfolk Island,Heard and McDonald Islands,Australian Antarctic Territory,Commonwealth Marine Area
0,66785,Abebaioscia troglodytes,Pannikin Plains Cave Isopod,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Present,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,18340,Abrotanella nivigena,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,81927,Abudefduf bengalensis,Bengal sergeant,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,81928,Abudefduf sexfasciatus,Scissor-tail sergeant,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,81929,Abudefduf sordidus,Blackspot sergeant,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10849,67,Zyzomys argurus,"Common Rock-rat, Djoorri",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10850,25906,Zyzomys maini,"Arnhem Rock-rat, Arnhem Land Rock-rat, Kodjperr",Vulnerable,Zyzomys maini,18-Aug-06,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10851,25907,Zyzomys palatalis,"Carpentarian Rock-rat, Aywalirroomoo",Endangered,Zyzomys palatalis,16-Jul-00,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10852,68,Zyzomys pedunculatus,"Central Rock-rat, Antina",Critically Endangered,Zyzomys pedunculatus,15-Feb-18,NaN,NaN,NaN,NaN,...,Present,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10853,69,Zyzomys woodwardi,"Kimberley Rock-rat, Large Rock-rat, Djookooropa",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
#create a new df with only the columns that we might use for visualisations
datd_df = dropnan[["Scientific Name","Common Name","EPBC Threat Status","EPBC Threatened Species Listed Name","EPBC Threatened Species Date Effective","Kingdom","Phylum","Class","Order","Family","Genus"]]
datd_df

,Scientific Name,Common Name,EPBC Threat Status,EPBC Threatened Species Listed Name,EPBC Threatened Species Date Effective,Kingdom,Phylum,Class,Order,Family,Genus
0,Abebaioscia troglodytes,Pannikin Plains Cave Isopod,NaN,NaN,NaN,Animalia,Arthropoda,Malacostraca,Isopoda,Philosciidae,Abebaioscia
1,Abrotanella nivigena,,NaN,NaN,NaN,Plantae,Magnoliophyta,Magnoliopsida,Asterales,Asteraceae,Abrotanella
2,Abudefduf bengalensis,Bengal sergeant,NaN,NaN,NaN,Animalia,Chordata,Actinopterygii,Perciformes,Pomacentridae,Abudefduf
3,Abudefduf sexfasciatus,Scissor-tail sergeant,NaN,NaN,NaN,Animalia,Chordata,Actinopterygii,Perciformes,Pomacentridae,Abudefduf
4,Abudefduf sordidus,Blackspot sergeant,NaN,NaN,NaN,Animalia,Chordata,Actinopterygii,Perciformes,Pomacentridae,Abudefduf
...,...,...,...,...,...,...,...,...,...,...,...
10849,Zyzomys argurus,"Common Rock-rat, Djoorri",NaN,NaN,NaN,Animalia,Chordata,Mammalia,Rodentia,Muridae,Zyzomys
10850,Zyzomys maini,"Arnhem Rock-rat, Arnhem Land Rock-rat, Kodjperr",Vulnerable,Zyzomys maini,18-Aug-06,Animalia,Chordata,Mammalia,Rodentia,Muridae,Zyzomys
10851,Zyzomys palatalis,"Carpentarian Rock-rat, Aywalirroomoo",Endangered,Zyzomys palatalis,16-Jul-00,Animalia,Chordata,Mammalia,Rodentia,Muridae,Zyzomys
10852,Zyzomys pedunculatus,"Central Rock-rat, Antina",Critically Endangered,Zyzomys pedunculatus,15-Feb-18,Animalia,Chordata,Mammalia,Rodentia,Muridae,Zyzomys
10853,Zyzomys woodwardi,"Kimberley Rock-rat, Large Rock-rat, Djookooropa",NaN,NaN,NaN,Animalia,Chordata,Mammalia,Rodentia,Muridae,Zyzomys

In [6]:
#we want to focus mainly on the data that shows the threat status so remove any rows that have no data
clean_data = datd_df[datd_df["EPBC Threat Status"].notnull()]
clean_data

,Scientific Name,Common Name,EPBC Threat Status,EPBC Threatened Species Listed Name,EPBC Threatened Species Date Effective,Kingdom,Phylum,Class,Order,Family,Genus
10,Abutilon julianae,Norfolk Island Abutilon,Critically Endangered,Abutilon julianae,25-Nov-03,Plantae,Magnoliophyta,Magnoliopsida,Malvales,Malvaceae,Abutilon
25,Acacia ammophila,,Vulnerable,Acacia ammophila,16-Jul-00,Plantae,Magnoliophyta,Magnoliopsida,Fabales,Fabaceae,Acacia
31,Acacia anomala,"Grass Wattle, Chittering Grass Wattle",Vulnerable,Acacia anomala,16-Jul-00,Plantae,Magnoliophyta,Magnoliopsida,Fabales,Fabaceae,Acacia
32,Acacia aphylla,Leafless Rock Wattle,Vulnerable,Acacia aphylla,16-Jul-00,Plantae,Magnoliophyta,Magnoliopsida,Fabales,Fabaceae,Acacia
33,Acacia aprica,Blunt Wattle,Endangered,Acacia aprica,16-Jul-00,Plantae,Magnoliophyta,Magnoliopsida,Fabales,Fabaceae,Acacia
...,...,...,...,...,...,...,...,...,...,...,...
10834,Zosterops albogularis,"White-chested White-eye, Norfolk Island Silvereye",Extinct,Zosterops albogularis,16-Jul-00,Animalia,Chordata,Aves,Passeriformes,Zosteropidae,Zosterops
10840,Zosterops strenuus,Robust White-eye,Extinct,Zosterops strenuus,16-Jul-00,Animalia,Chordata,Aves,Passeriformes,Zosteropidae,Zosterops
10850,Zyzomys maini,"Arnhem Rock-rat, Arnhem Land Rock-rat, Kodjperr",Vulnerable,Zyzomys maini,18-Aug-06,Animalia,Chordata,Mammalia,Rodentia,Muridae,Zyzomys
10851,Zyzomys palatalis,"Carpentarian Rock-rat, Aywalirroomoo",Endangered,Zyzomys palatalis,16-Jul-00,Animalia,Chordata,Mammalia,Rodentia,Muridae,Zyzomys
10852,Zyzomys pedunculatus,"Central Rock-rat, Antina",Critically Endangered,Zyzomys pedunculatus,15-Feb-18,Animalia,Chordata,Mammalia,Rodentia,Muridae,Zyzomys

In [8]:
# Load panda's dataframe's to postgres sql table
#clean_data.csv("clean_data")

In [9]:
#now as a test show that we can then bring the database back and view all of the data
showmethemoney = pd.read_sql('select * from dataone',conn)
showmethemoney

,scientific_name,common_name,threat_status,listed_name,threat_date,kingdom,phylum,class_1,order_1,family_1,genus,index
0,Abutilon julianae,Norfolk Island Abutilon,Critically Endangered,Abutilon julianae,2003-11-25,Plantae,Magnoliophyta,Magnoliopsida,Malvales,Malvaceae,Abutilon,None
1,Acacia ammophila,,Vulnerable,Acacia ammophila,2000-07-16,Plantae,Magnoliophyta,Magnoliopsida,Fabales,Fabaceae,Acacia,None
2,Acacia anomala,"Grass Wattle, Chittering Grass Wattle",Vulnerable,Acacia anomala,2000-07-16,Plantae,Magnoliophyta,Magnoliopsida,Fabales,Fabaceae,Acacia,None
3,Acacia aphylla,Leafless Rock Wattle,Vulnerable,Acacia aphylla,2000-07-16,Plantae,Magnoliophyta,Magnoliopsida,Fabales,Fabaceae,Acacia,None
4,Acacia aprica,Blunt Wattle,Endangered,Acacia aprica,2000-07-16,Plantae,Magnoliophyta,Magnoliopsida,Fabales,Fabaceae,Acacia,None
...,...,...,...,...,...,...,...,...,...,...,...,...
1886,Zosterops albogularis,"White-chested White-eye, Norfolk Island Silvereye",Extinct,Zosterops albogularis,2000-07-16,Animalia,Chordata,Aves,Passeriformes,Zosteropidae,Zosterops,None
1887,Zosterops strenuus,Robust White-eye,Extinct,Zosterops strenuus,2000-07-16,Animalia,Chordata,Aves,Passeriformes,Zosteropidae,Zosterops,None
1888,Zyzomys maini,"Arnhem Rock-rat, Arnhem Land Rock-rat, Kodjperr",Vulnerable,Zyzomys maini,2006-08-18,Animalia,Chordata,Mammalia,Rodentia,Muridae,Zyzomys,None
1889,Zyzomys palatalis,"Carpentarian Rock-rat, Aywalirroomoo",Endangered,Zyzomys palatalis,2000-07-16,Animalia,Chordata,Mammalia,Rodentia,Muridae,Zyzomys,None
1890,Zyzomys pedunculatus,"Central Rock-rat, Antina",Critically Endangered,Zyzomys pedunculatus,2018-02-15,Animalia,Chordata,Mammalia,Rodentia,Muridae,Zyzomys,None